.custom-profile-card {
    border: 0px 1px white;
    border-radius: 16px;
    background-color: white;
    padding: 12px;
    width: calc(var(--card-width) * 1px);
}

.custom-profile-card-title {
    margin-bottom: 16px;
}

.custom-profile-card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-profile {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
    min-width: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    min-width: 0;
}

.nickname {
    font-size: 16pt;
    font-weight: 600;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.date {
    font-size: 12pt;
    font-weight: 600;
    color: #CBD5E1;
}

.profile-details {
    display: flex;
    align-items: center;
}

.profile-details.rotated {
    display: none;
}

.profile-sub-info {
    display: flex;
    gap: 12px;
    flex: 1;
    min-width: 0;
}

.rating {
    font-weight: 600;
    font-size: 12pt;
    color: #4B5663;
}

.review {
    font-weight: 600;
    font-size: 12pt;
    color: #4B5663;
    flex: 1;
    min-width: 0;
}

.content-right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex-shrink: 0;
}

.report {
    font-weight: 600;
    font-size: 12pt;
    color: #4B5663;
}

.report:hover {
    cursor: pointer;
}

.content-arrow {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.3s ease; 
}

.content-arrow.rotated {
    transform: rotate(180deg);
}

.content-arrow:hover {
    cursor: pointer;
}