.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    background-color: var(--btn-color);
    color: var(--font-color);
    cursor: pointer;
}

.custom-button--lg,
.custom-button--md,
.custom-button--sm {
    height: 58px;
    border-radius: 16px;
    font-size: 20px;
}

.custom-button--lg {
    width: 100%;
}

.custom-button--md {
    width: 335px;
}

.custom-button--sm {
    width: 178px;
}

.custom-button--xsm {
    height: 56px;
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 14px;
}
 
.custom-button:hover {
    cursor: pointer;
}