.custom-div {
    position: relative;
    width: 500px;
    min-width: 393px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.custom-div > div:first-child {
    flex-shrink: 0;
  
}

.custom-div > div:last-child {
    flex-shrink: 0;
 
}

.custom-div-body {
    flex: 1;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--bg-color);
}