.custom-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D7DAE0;
    border-radius: 12px;  
    background-color: white;
    padding: 16px;
    width: calc(var(--product-width) * 1px);
    gap: 16px;

    box-sizing: border-box; 
}

.product-section {
    display: flex;
    gap: 12px;
}

.product-box-section {
    width: 40px;
    height: 40px;
    background-color: #FDF7F5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.product-number {
    color: #6B7280;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.product-category {
    color: #14191F;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.product-money {
    color: #FD5D35;
    text-align: right;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.product-money-unit {
    color: #14191F;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}