.custom-profile {
    border: 0px solid var(--bg-color);
    background-color: var(--bg-color);
    width: 100%;
    height: calc(var(--profile-diameter) * 1px);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-profile:hover {
    cursor: pointer;
}