.date-input-box {
  width: 361px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 14px;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

.calendar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: none;
    background: none;
    border-radius: 50%;
}

.date-input-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.calendar-icon {
  margin-left: auto;
  font-size: 20px;
}