.dropdown {
  width: 310px;
}

.dropdown select {
  width: 100%;
  height: 42px;
  padding: 0 14px;
  border: 1px solid;
  border-radius: 8px;
  background-color: white;
}

.dropdown p {
  margin-top: 6px;
  font-size: 11px;
  color: orange;
}