.text-field {
  width: 337px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 1px solid;
  
  padding: 0 12px;
}

.text-field input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font : 16px;
}