.text-area {
  width: 361px;
  height: 146px;
  display: flex;
  
  align-items: flex-start; /* 위쪽 정렬 */
  border: 1px solid;
  border-radius: 15px;
  background-color: white;
  position: relative;
}

.text-count {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

.text-area textarea {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font : 22px;
  resize: none;
  margin-top: 16px;
  padding: 16px 16px 36px 16px;
}