.text-field {
  width: 361px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 3px solid;
  
}

.text-field input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font : 22px;
}